nav 
  ul 
    li 
      a(href="/" id='header_logo') freshen 
  ul 
    li  
      a(href="/explore") Explore 
    li 
      span.divider 
    if currentUser
      li 
        a(href="/account") Account 
      li 
        a(href='/logout' class='button button-s header_join-button border-radius-6px') Logout
    else 
      li 
        a(href="/login") Log In 
      li 
        a(href="/join" class='button button-s header_join-button border-radius-6px') Join   
    li 
      button#nav_toggle.icon(onclick='toggleNav()') 
        i.fa.fa-solid.fa-bars
script(src="/javascripts/navFunctionality.js") 