* {
  padding: 0;
  margin: 0;
  font-family: "Signika", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border-bottom: 0.5px solid rgb(201, 201, 201);
}

nav ul {
  gap: 20px;
  display: flex;
  align-items: center;
}

nav ul:first-child {
  margin-left: 30px;
}

nav ul:nth-child(2) {
  margin-right: 30px;
}

nav a:hover {
  color: rgb(1, 102, 255);
}

nav a.header_join-button:hover {
  color: white;
}

main {
  min-height: calc(100vh - 11rem);
}

form .form-section {
  margin-bottom: 15px;
}

form label {
  font-weight: 300;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 7px;
  width: 250px;
  margin-top: 5px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  border: 1px solid rgb(82, 140, 228);
  outline: 5px solid rgba(48, 114, 213, 0.147);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgb(247, 247, 248);
  border-top: 0.5px solid rgb(201, 201, 201);
}

footer ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

footer svg {
  font-size: xx-large;
  transition: 0.25s ease;
}

footer svg:hover {
  color: rgb(1, 102, 255);
}

footer p {
  color: rgb(160, 160, 160);
}

#header_logo {
  font-family: "Concert One", sans-serif;
  font-size: 30px;
  color: rgb(1, 102, 255);
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 11rem);
}

.home-content-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
}

.home-content-container h1 {
  font-size: 30px;
  color: rgb(1, 102, 255);
}

.home-content-container span {
  font-family: "Concert One", sans-serif;
}

.home-content-container h1,
.home-content-container h2 {
  text-align: center;
}

.home-content-container form {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.coming-soon-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon-container h2 {
  background-color: rgb(255, 201, 100);
  border: 2px solid black;
  padding: 20px 10px;
  max-width: 500px;
  border-radius: 6px;
}

.coming-soon-container ul {
  margin-top: 30px;
}

.coming-soon-container ul li {
  margin-bottom: 10px;
}

.login-content-wrapper,
.join-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 11rem);
}

.login-content-container,
.join-content-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content-container form,
.join-content-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content-container p,
.join-content-container p {
  margin-top: 10px;
}

.divider {
  border-left: 1px solid rgb(201, 201, 201);
  position: relative;
}

.page-header {
  padding-bottom: 30px;
}

.button:hover {
  cursor: pointer;
}

.button.button-s {
  padding: 6px 18px;
}

.button.button-m {
  padding: 8px 22px;
}

.button.button-l {
  padding: 10px 24px;
}

.header_join-button {
  background-color: rgb(1, 102, 255);
  border: 1px solid rgb(1, 102, 255);
  color: white;
}

.header_join-button:hover {
  background-color: rgb(0, 95, 237);
  border: 1px solid rgb(0, 95, 237);
}

.home_get-started-button {
  border: 1px solid rgb(1, 102, 255);
  background-color: rgb(1, 102, 255);
  color: white;
}

.home_get-started-button:hover {
  background-color: rgb(0, 95, 237);
  border: 1px solid rgb(0, 95, 237);
}

.home_login-button {
  border: 1px solid rgb(1, 102, 255);
  background-color: white;
  color: rgb(1, 102, 255);
}

.home_login-button:hover {
  background-color: rgb(244, 244, 244);
}

.auth-form-submit.button {
  border: 1px solid rgb(1, 102, 255);
  background-color: rgb(1, 102, 255);
  color: white;
  padding: 7px;
  width: 268px;
  margin-top: 10px;
}

.auth-form-submit.button:hover {
  background-color: rgb(0, 95, 237);
}

.auth-login.button,
.auth-join.button {
  border: 1px solid lightgray;
  padding: 7px;
  width: 268px;
}

.auth-login.button:hover,
.auth-join.button:hover {
  background-color: rgb(251, 251, 251);
}

.button-success {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.button-success:hover {
  background-color: white;
  border: 1px solid green;
  color: green;
}

.button-danger {
  background-color: red;
  border: 1px solid red;
  color: white;
}

.button-danger:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}

.border-radius-4px {
  border-radius: 4px;
}

.border-radius-6px {
  border-radius: 6px;
}

.border-radius-8px {
  border-radius: 8px;
}

.border-radius-10px {
  border-radius: 10px;
}

.bold {
  font-weight: 500;
}

.blue {
  color: rgb(1, 102, 255);
}

.google-icon {
  margin-right: 10px;
}

@media (max-width: 500px) {
  footer .social-media-text {
    display: none;
  }
}
