if success && success.length
  .alert.alert-success.border-radius-8px(role='alert')
    i.fa.fa-solid.fa-check
    p= success 
if error && error.length 
  .alert.alert-danger.border-radius-8px(role='alert')
    i.fa.fa-solid.fa-exclamation
    p= error[0] 

