if success && success.length
  .alert.alert-success(role='alert')
    i.fa.fa-solid.fa-check
    p= success 
if errors && errors.length 
  .alert.alert-danger(role='alert')
    i.fa.fa-solid.fa-exclamation
      each error in errors 
        p= error

