footer 
  ul 
    li 
      a(href="https://github.com/KlayClarke/freshenv2" target='_blank')
        i.fa.fa-brands.fa-github
    li 
      a(href="#")
        i.fa.fa-brands.fa-linkedin
    li 
      a(href="#")
        i.fa.fa-brands.fa-instagram
    li 
      a(href="#")
        i.fa.fa-brands.fa-twitter 
  p &copy; freshen by 
    a(href="https://github.com/KlayClarke" target='_blank' class='blue') Klay Clarke 
     