footer 
  ul 
    p.social-media-text Follow us on socials 
    li 
      a(href="https://github.com/KlayClarke/freshenv2" target='_blank') Github 
    li 
      a(href="#") LinkedIn 
    li 
      a(href="#") Instagram 
    li 
      a(href="#") Twitter 
  p &copy; freshen by 
    a(href="https://github.com/KlayClarke" target='_blank' class='blue') Klay Clarke 
     