.undernav  
  ul 
    li  
      a(href="/explore") Explore 
    li 
      a(href="/about") About 
    if currentUser 
      li 
        a(href="/account") Account 
    else 
      li 
        a(href="/login") Log In 
      
