extends layout
block content 
  .home-content-wrapper 
    .home-content-container 
      if currentUser 
        h1
          span #{currentUser.username}'s homepage 
      else 
        h1 Whether you are a customer searching for a new hairstylist or a hairstylist searching for new customers, 
          span freshen 
            h1 is the answer.
        form(action="")
          a(href="/join" class='button button-l home_get-started-button border-radius-6px') Create New Account 
          a(href="/login" class='button button-l home_login-button border-radius-6px') Log In Using Existing Account 
