extends layout
block content 
  .home-content-wrapper 
    .home-content-container 
      if user 
        h1
          span Welcome back, #{user.first_name}! 
      else 
        h1 Whether you are a customer searching for a new hairstylist or a hairstylist searching for new customers, 
          span freshen 
            h1 is the answer.
        form(action="")
          a(href="#" class='button button-l home_get-started-button border-radius-6px') Create New Account 
          a(href="#" class='button button-l home_login-button border-radius-6px') Log In Using Existing Account 
