extends layout 
block content 
  .misc-content-container
    .form-card.border-radius-8px  
      p Please click the button below to delete #{salon.name}.
      form(action=`/explore/${salon._id}/delete` method='POST')
        button.button.button-l.button-danger.border-radius-6px Delete