extends layout
block content
  .join-content-container 
    button(class='auth-join button border-radius-4px') 
      i.fa.fa-brands.fa-google 
      |  Join with Google 
    form(action="#" method='POST')
      .form-section 
        label(for="email") Email 
        br
        input(type="email" id='email' name='email')
        br
      .form-section 
        label(for="username") Username 
        br
        input(type="text" id='username' name='username') 
        br
      .form-section 
        label(for="password") Password 
        br
        input(type="password" id='password' name='password')
        br
      button(class='auth-form-submit button border-radius-4px') Join 
    p Already have an account?
      a(href="/login" class='blue')  Log In 
