extends layout
block content
  .join-content-container 
    .form-card.border-radius-8px
      form(action="#" method='POST')
        .form-section 
          label(for="email") Email 
          br
          input(type="email" id='email' name='email' required)
          br
        .form-section 
          label(for="username") Username 
          br
          input(type="text" id='username' name='username' required) 
          br
        .form-section 
          label(for="password") Password 
          br
          input(type="password" id='password' name='password' required)
          br
        button(class='auth-form-submit button border-radius-4px') Join 
      p Already have an account?
        a(href="/login" class='blue')  Log In 
