extends layout 
block content 
  .login-content-wrapper 
    .login-content-container 
      button(class='auth-login button border-radius-4px') Log in with Google 
      form(action="#" method='POST')
        .form-section 
          label(for="email") Email 
          br
          input(type="email" id='email' name='email')
          br
        .form-section 
          label(for="password") Password 
          br
          input(type="password" id='password' name='password')
          br
        button(class='auth-form-submit button border-radius-4px') Log In 
      p Don't have an account?
        a(href="/join" class='blue')  Join 