extends layout 
block content 
  .login-content-container 
    .form-card.border-radius-8px
      h1 Login 
      br
      form(action="#" method='POST')
        .form-section 
          label(for="username") Username 
          br
          input(type="text" id='username' name='username' required)
          br
        .form-section 
          label(for="password") Password 
          br
          input(type="password" id='password' name='password' required)
          br
        button(class='auth-form-submit button border-radius-4px') Log In 
      p Don't have an account?
        a(href="/join" class='blue')  Join 