* {
  padding: 0;
  margin: 0;
  font-family: "Signika", sans-serif;
  font-weight: 300;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 0.5px solid rgb(201, 201, 201);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  overflow: hidden;
}

nav ul {
  gap: 20px;
  display: flex;
  align-items: center;
}

nav ul:first-child {
  margin-left: 15px;
}

nav a:hover {
  color: rgb(1, 102, 255);
}

nav a.header_join-button:hover {
  color: white;
}

nav button.icon {
  display: none;
}

nav button.icon i {
  font-size: xx-large;
  color: rgb(1, 102, 255);
}

main {
  position: relative;
  margin-top: 3em;
  min-height: calc(100vh - 9.5rem);
}

form .form-section {
  margin-bottom: 15px;
}

form label {
  font-weight: 300;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="file"],
form select {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 7px;
  width: 250px;
  margin-top: 5px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="file"]:focus,
form select:focus {
  border: 1px solid rgb(82, 140, 228);
  outline: 5px solid rgba(48, 114, 213, 0.147);
}

form select {
  width: 266px;
  height: 32.5px;
}

#header_logo {
  font-family: "Concert One", sans-serif;
  font-size: 30px;
  color: rgb(1, 102, 255);
}

#map {
  width: 900px;
  height: 400px;
  border: 2px solid rgb(82, 140, 228);
  z-index: 1;
}

.alert {
  z-index: 2;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert i {
  margin-right: 10px;
}

.alert-warning {
  background-color: rgb(255, 243, 205);
  color: rgb(135, 102, 10);
}

.alert-danger {
  background-color: rgb(248, 215, 217);
  color: rgb(115, 28, 35);
}

.alert-success {
  background-color: rgb(212, 237, 217);
  color: rgb(20, 88, 36);
}

.not-found-content-container {
  padding: 0 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);
  text-align: center;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);
}

.home-content-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 30px;
}

.home-content-container h1 {
  font-size: 30px;
  color: rgb(1, 102, 255);
}

.home-content-container span {
  font-family: "Concert One", sans-serif;
}

.home-content-container h1,
.home-content-container h2 {
  text-align: center;
}

.home-content-container form {
  gap: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.user-account-content-container {
  gap: 30px;
}

.login-content-container,
.join-content-container,
.salon-create-content-container,
.user-account-content-container {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-content-container .form-card,
.login-content-container .form-card,
.user-account-content-container .form-card {
  padding: 50px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.login-content-container form,
.join-content-container form,
.salon-create-content-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content-container p,
.join-content-container p {
  margin-top: 10px;
}

.divider {
  border-left: 1px solid rgb(201, 201, 201);
  position: relative;
}

.explore-page-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.explore-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salon-cards-container {
  width: 100%;
  margin: 20px 0;
}

.salon-create-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.salon-card-key,
.salon-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 20px;
}

.salon-card-key {
  border-bottom: 0.25px solid lightgray;
}

.salon-card {
  border-top: 0.25px solid lightgray;
}

.salon-card:hover {
  cursor: pointer;
  border: 0.25px solid rgb(82, 140, 228);
  border-radius: 12px;
}

.salon-name-container,
.salon-address-container,
.salon-average-price-container,
.salon-type-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid rgb(240, 240, 240);
  padding: 20px;
}

.salon-address-container {
  border-right: none;
}

.salon-detail-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 57px;
  padding: 25px;
}

.salon-detail-container .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.salon-detail-container .top-section,
.salon-detail-container .bottom-section {
  border: 1px solid lightgray;
  min-height: 30%;
}

.salon-detail-container .top-section .left {
  display: flex;
  justify-content: center;
}

.salon-detail-container .top-section .left img {
  max-width: 400px;
}

.salon-detail-container .top-section .right {
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.button.button-s {
  padding: 6px 18px;
}

.button.button-m {
  padding: 8px 22px;
}

.button.button-l {
  padding: 10px 24px;
}

.header_join-button {
  background-color: rgb(1, 102, 255);
  border: 1px solid rgb(1, 102, 255);
  color: white;
}

.header_join-button:hover {
  background-color: rgb(0, 95, 237);
  border: 1px solid rgb(0, 95, 237);
}

.home_get-started-button {
  border: 1px solid rgb(1, 102, 255);
  background-color: rgb(1, 102, 255);
  color: white;
}

.home_get-started-button:hover {
  background-color: rgb(0, 95, 237);
  border: 1px solid rgb(0, 95, 237);
}

.home_login-button {
  border: 1px solid rgb(1, 102, 255);
  background-color: white;
  color: rgb(1, 102, 255);
}

.home_login-button:hover {
  background-color: rgb(244, 244, 244);
}

.salon-create-button {
  border: 1px solid rgb(1, 102, 255);
  background-color: white;
  color: rgb(1, 102, 255);
}

.salon-create-button:hover {
  background-color: rgb(251, 251, 251);
}

.auth-form-submit.button {
  border: 1px solid rgb(1, 102, 255);
  background-color: rgb(1, 102, 255);
  color: white;
  padding: 7px;
  width: 268px;
  margin-top: 10px;
}

.auth-form-submit.button:hover {
  background-color: rgb(0, 95, 237);
}

.auth-login.button,
.auth-join.button {
  border: 1px solid lightgray;
  padding: 7px;
  width: 268px;
}

.auth-login.button:hover,
.auth-join.button:hover {
  background-color: rgb(251, 251, 251);
}

.button-success {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.button-success:hover {
  background-color: rgb(0, 114, 0);
}

.button-danger {
  background-color: red;
  border: 1px solid red;
  color: white;
}

.button-danger:hover {
  background-color: rgb(236, 0, 0);
}

.border-radius-4px {
  border-radius: 4px;
}

.border-radius-6px {
  border-radius: 6px;
}

.border-radius-8px {
  border-radius: 8px;
}

.border-radius-10px {
  border-radius: 10px;
}

.blue {
  color: rgb(1, 102, 255);
}

.bold {
  font-weight: 400;
}

.google-icon {
  margin-right: 10px;
}

/* NAV OVERLAY START */

#nav_overlay.show {
  height: calc(262px - 3rem);
}

#nav_overlay.hide {
  height: 0%;
}

#nav_overlay {
  border-top: 0.5px solid rgb(201, 201, 201);
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 3em;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

#nav_overlay .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav_overlay .overlay-content ul {
  width: 100%;
}

#nav_overlay .overlay-content ul li {
  border-bottom: 0.5px solid rgb(201, 201, 201);
}

#nav_overlay .overlay-content a {
  padding: 8px;
  font-size: 30px;
  color: rgb(1, 102, 255);
  display: block;
  transition: 0.3s;
}

#nav_overlay .overlay-content a:hover,
#nav_overlay .overlay-content a:focus {
  color: rgb(4, 85, 206);
}

@media screen and (max-height: 450px) {
  #nav_overlay .overlay-content a {
    font-size: 20px;
  }

  #nav_overlay button.overlay-close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* NAV OVERLAY END */

/* SCREEN OVERLAY BELOW NAV START */

#screen_overlay.show {
  height: calc(100% - 262px);
  display: block;
}

#screen_overlay.hide {
  height: 0%;
  display: none;
}

#screen_overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

/* SCREEN OVERLAY BELOW NAV END */

@media (max-width: 950px) {
  #map {
    width: 95%;
  }

  .home-content-container {
    width: 90%;
    text-align: center;
  }

  .home-content-container form {
    flex-direction: column;
  }

  .alert {
    max-width: 100%;
  }
  .salon-detail-container .top-section {
    justify-content: inherit;
  }
}

@media (max-width: 650px) {
  nav li:not(:last-child) {
    display: none;
  }

  nav li button.icon {
    display: block;
  }
}

@media (max-width: 650px) {
  nav ul:nth-child(2) {
    margin-right: 15px;
  }

  .salon-cards-container {
    font-size: small;
  }

  .salon-type-container {
    display: none;
  }

  .salon-detail-container .top-section {
    flex-direction: column;
  }

  .salon-detail-container .top-section .left {
    width: 100%;
  }

  .salon-detail-container .top-section .left img {
    max-width: 100%;
  }

  .salon-detail-container .top-section .right {
    margin: 0;
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .join-content-container .form-card,
  .login-content-container .form-card,
  .user-account-content-container .form-card {
    border: none;
    box-shadow: none;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .salon-average-price-container {
    display: none;
  }
  .salon-name-container,
  .salon-address-container {
    padding: 5px;
  }
}
